html * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	min-width: 320px;
	background: #fff;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #0e0e0f;
	cursor: default;
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

.clearfix:after {
	display: block;
	content: "";
	clear: both;
}

/* header */

.header {
	width: 100%;
	min-width: 320px;
	border-bottom: 1px solid #e9eaec;
	background: #f7f7f8;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
}

.header .header_wrapper {
	margin: 0 auto;
	padding: 20px;
	max-width: 1200px;
}

.header .logo_block {
	float: left;
	margin: 4px 25px 0 0;
	font-weight: 900;
	font-size: 26px;
	line-height: 26px;
	color: #010d13;
	text-transform: uppercase;
}

.header .logo {
	color: #010d13;
	cursor: pointer;
	outline: none;
	text-decoration: none;
}

.header .logo span {
	color: #0a87c2;
}

.header .logo:hover {
	opacity: 0.8;
}

.header .nav_wrapper {
	display: block;
	float: left;
}

.header .nav {
	font-size: 0;
	line-height: 0;
	letter-spacing: -1px;
}

.header .nav li {
	display: inline-block;
	vertical-align: middle;
	margin: 0 8px 0 0;
}

.header .nav li a {
	display: block;
	padding: 8px 10px;
	border: 2px solid #f7f7f8;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	font-weight: 500;
	font-size: 14px;
	line-height: 14px;
	letter-spacing: normal;
	color: #454754;
	text-decoration: none;
	outline: none;
	cursor: pointer;
}

.header .nav li a:hover {
	color: #0a87c2;
}

.header .nav li a.active {
	border: 2px solid #e9eaec;
	cursor: default;
}

.header .nav li a.active:hover {
	color: #454754;
}

.header .search_form {
	float: right;
}

.header .search_query {
	display: block;
	margin: 0;
	padding: 0 10px 0 36px;
	width: 300px;
	height: 34px;
	border: 2px solid #e9eaec;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	background: #fff url("/template/images/search_icon.png") 10px center no-repeat;
	-webkit-background-size: 16px auto;
	-moz-background-size: 16px auto;
	-o-background-size: 16px auto;
	background-size: 16px auto;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 14px;
	color: #999ca1;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: none;
}

.header .search_query::-webkit-input-placeholder {
	opacity: 1;
	color: #999ca1;
}

.header .search_query:-moz-placeholder {
	opacity: 1;
	color: #999ca1;
}

.header .search_query::-moz-placeholder {
	opacity: 1;
	color: #999ca1;
}

.header .search_query:-ms-input-placeholder {
	opacity: 1;
	color: #999ca1;
}

.header .search_query:focus::-webkit-input-placeholder {
	opacity: 0;
}

.header .search_query:focus:-moz-placeholder {
	opacity: 0;
}

.header .search_query:focus::-moz-placeholder {
	opacity: 0;
}

.header .search_query:focus:-ms-input-placeholder {
	opacity: 0;
}

.header .menu_button {
	display: none;
	float: right;
	padding: 6px 0;
	width: 26px;
	height: 26px;
	background: #454754;
	cursor: pointer;
	position: relative;
}

.header .menu_button:hover {
	opacity: 0.8;
}

.header .menu_button:before, 
.header .menu_button:after {
	display: block;
	content: "";
	width: 26px;
	height: 4px;
	background: #f7f7f8;
}

.header .menu_button:before {
	margin: 0 0 6px;
}

.header .menu_button.active {
	background: none;
}

.header .menu_button.active:before, 
.header .menu_button.active:after {
	height: 4px;
	background: #454754;
	position: absolute;
	top: 50%;
	margin-top: -2px;
}

.header .menu_button.active:before {
	margin: 0;
	margin-top: -2px;
	-webkit-transform: rotate(45deg);
	   -moz-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	     -o-transform: rotate(45deg);
	        transform: rotate(45deg);
}

.header .menu_button.active:after {
	-webkit-transform: rotate(-45deg);
	   -moz-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	     -o-transform: rotate(-45deg);
	        transform: rotate(-45deg);
}

/* mobile menu */

.mobile_menu {
	display: none;
	width: 200px;
	border: 1px solid #e9eaec;
	background: #f7f7f8;
	position: fixed;
	top: 77px;
	right: 20px;
	z-index: 9999;
}

.mobile_menu .nav li {
	display: block;
	border-bottom: 1px solid #e9eaec;
}

.mobile_menu .nav li a {
	display: block;
	padding: 10px;
	font-weight: 500;
	font-size: 14px;
	line-height: 14px;
	color: #454754;
	text-decoration: none;
	outline: none;
	cursor: pointer;
}

.mobile_menu .nav li a:hover {
	color: #0a87c2;
}

.mobile_menu .search_form {
	padding: 10px;
}

.mobile_menu .search_query {
	display: block;
	margin: 0;
	padding: 0 10px 0 36px;
	width: 100%;
	height: 34px;
	border: 2px solid #e9eaec;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	background: #fff url("/template/images/search_icon.png") 10px center no-repeat;
	-webkit-background-size: 16px auto;
	-moz-background-size: 16px auto;
	-o-background-size: 16px auto;
	background-size: 16px auto;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 14px;
	color: #999ca1;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: none;
}

.mobile_menu .search_query::-webkit-input-placeholder {
	opacity: 1;
	color: #999ca1;
}

.mobile_menu .search_query:-moz-placeholder {
	opacity: 1;
	color: #999ca1;
}

.mobile_menu .search_query::-moz-placeholder {
	opacity: 1;
	color: #999ca1;
}

.mobile_menu .search_query:-ms-input-placeholder {
	opacity: 1;
	color: #999ca1;
}

.mobile_menu .search_query:focus::-webkit-input-placeholder {
	opacity: 0;
}

.mobile_menu .search_query:focus:-moz-placeholder {
	opacity: 0;
}

.mobile_menu .search_query:focus::-moz-placeholder {
	opacity: 0;
}

.mobile_menu .search_query:focus:-ms-input-placeholder {
	opacity: 0;
}

/* content */

.content_wrapper {
	margin: 0 auto;
	padding: 105px 20px 30px;
	max-width: 1200px;
}

.content_wrapper .main_title {
	margin: 0 0 30px;
	font-weight: 700;
	font-size: 34px;
	line-height: 40px;
}

.content_wrapper .query_text {
	margin: -20px 0 30px;
	font-weight: 500;
	font-size: 18px;
	line-height: 26px;
	color: #999ca1;
}

.content_wrapper .tagged_description {
	margin: -10px 0 30px;
	font-size: 18px;
	line-height: 26px;
}

/* questions block */

.questions_block {
	float: left;
	width: -webkit-calc(100% - 330px);
	width: -moz-calc(100% - 330px);
	width: calc(100% - 330px);
}

.questions_block .question_item {
	margin: 0 0 20px;
	padding: 20px 20px 10px;
	border: 2px solid #e9eaec;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

.questions_block .question_item:last-child {
	margin: 0 0 30px;
}

.question_stat_block {
	margin: 0 0 15px;
	font-size: 0;
	line-height: 0;
	letter-spacing: -1px;
}

.question_block .question_stat_block {
	margin: 0 0 30px;
}

.question_stat_block .author {
	display: inline-block;
	vertical-align: middle;
	margin: 0 20px 0 0;
}

.question_stat_block .avatar {
	display: inline-block;
	vertical-align: middle;
	margin: 0 10px 0 0;
	width: 32px;
	height: 32px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.question_stat_block .name {
	display: inline-block;
	vertical-align: middle;
	font-weight: 500;
	font-size: 14px;
	line-height: 32px;
	letter-spacing: normal;
}

.question_stat_block .question_stat {
	display: inline-block;
	vertical-align: middle;
}

.question_stat_block .stat_item {
	display: inline-block;
	vertical-align: middle;
	margin: 0 15px 0 0;
	font-weight: 500;
	font-size: 14px;
	line-height: 32px;
	letter-spacing: normal;
	color: #999ca1;
}

.question_stat_block .views {
	padding: 0 0 0 25px;
	background: url("/template/images/views_icon.png") left center no-repeat;
	-webkit-background-size: 20px auto;
	-moz-background-size: 20px auto;
	-o-background-size: 20px auto;
	background-size: 20px auto;
}

.question_stat_block .answers {
	margin: 0;
	padding: 0 0 0 21px;
	background: url("/template/images/answer_icon.png") left center no-repeat;
	-webkit-background-size: 16px auto;
	-moz-background-size: 16px auto;
	-o-background-size: 16px auto;
	background-size: 16px auto;
}

.questions_block .question_title {
	margin: 0 0 15px;
	font-weight: 700;
	font-size: 24px;
	line-height: 32px;
}

.questions_block .question_title a {
	display: block;
	color: #0e0e0f;
	text-decoration: none;
	outline: none;
	cursor: pointer;
}

.questions_block .question_title a:hover {
	color: #0a87c2;
}

.questions_block .description {
	margin: 0 0 15px;
}

.questions_block .tags_list {
	font-size: 0;
	line-height: 0;
	letter-spacing: -1px;
}

.question_tags_list {
	margin: 30px 0 20px;
}

.questions_block .tags_list li {
	display: inline-block;
	vertical-align: top;
	margin: 0 10px 10px 0;
}

.questions_block .tags_list a {
	display: block;
	padding: 8px 10px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	background: #0a87c2;
	font-weight: 500;
	font-size: 14px;
	line-height: 14px;
	letter-spacing: normal;
	color: #fff;
	text-decoration: none;
	outline: none;
	cursor: pointer;
}

.questions_block .tags_list a:hover {
	background: #1290cb;
}

/* votes */

.votes_buttons {
	float: right;
	margin: 1px 0 0;
	font-size: 0;
	line-height: 0;
	letter-spacing: -1px;
}

.votes_buttons .vote_button {
	display: inline-block;
	vertical-align: top;
	padding: 7px;
	width: 30px;
	height: 30px;
	border: 2px solid #e9eaec;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	cursor: pointer;
	outline: none;
}

.votes_buttons .vote_button.active {
	background-color: #e9eaec;
}

.votes_buttons .vote_button:after {
	display: block;
	content: "";
	width: 12px;
	height: 12px;
}

.votes_buttons .minus:after {
	background: url("/template/images/vote_icons.png") left bottom no-repeat;
	-webkit-background-size: 24px auto;
	-moz-background-size: 24px auto;
	-o-background-size: 24px auto;
	background-size: 24px auto;
}

.votes_buttons .minus:hover:after,
.votes_buttons .minus.active:after {
	background-position: right bottom;
}

.votes_buttons .plus:after {
	background: url("/template/images/vote_icons.png") left top no-repeat;
	-webkit-background-size: 24px auto;
	-moz-background-size: 24px auto;
	-o-background-size: 24px auto;
	background-size: 24px auto;
}

.votes_buttons .plus:hover:after, 
.votes_buttons .plus.active:after {
	background-position: right top;
}

.votes_buttons .votes_count {
	display: inline-block;
	vertical-align: top;
	margin: 8px 10px 0;
	font-weight: 700;
	font-size: 16px;
	line-height: 16px;
}

.votes_buttons .votes_count.green_color {
	color: #00b300;
}

.votes_buttons .votes_count.red_color {
	color: #f00;
}

/* page nav */

.page_nav .count {
	float: left;
	margin: 0 20px 0 0;
	font-weight: 500;
	font-size: 14px;
	line-height: 30px;
}

.page_nav .button {
	float: left;
	margin: 0 10px 0 0;
	padding: 7px;
	width: 30px;
	height: 30px;
	border: 2px solid #1290cb;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	cursor: pointer;
	outline: none;
}

.page_nav .button.disabled {
	border: 2px solid #e9eaec;
	cursor: default;
}

.page_nav .button:after {
	display: block;
	content: "";
	width: 12px;
	height: 12px;
}

.page_nav .prev:after {
	background: url("/template/images/nav_arrows.png") left bottom no-repeat;
	-webkit-background-size: 24px auto;
	-moz-background-size: 24px auto;
	-o-background-size: 24px auto;
	background-size: 24px auto;
}

.page_nav .prev.disabled:after {
	background-position: left top;
}

.page_nav .next:after {
	background: url("/template/images/nav_arrows.png") right bottom no-repeat;
	-webkit-background-size: 24px auto;
	-moz-background-size: 24px auto;
	-o-background-size: 24px auto;
	background-size: 24px auto;
}

.page_nav .next.disabled:after {
	background-position: right top;
}

/* tags block */

.tags_block .tag_item {
	float: left;
	margin: 0 30px 30px 0;
	padding: 20px;
	width: -webkit-calc((100% - 60px) / 3);
	width: -moz-calc((100% - 60px) / 3);
	width: calc((100% - 60px) / 3);
	border: 2px solid #e9eaec;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

.tags_block .tag_item:nth-child(3n) {
	margin: 0 0 30px;
}

.tags_block .tag_item .tag_top {
	margin: 0 0 15px;
}

.tags_block .tag_item .tag_name {
	display: block;
	float: left;
	padding: 8px 10px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	background: #0a87c2;
	font-weight: 500;
	font-size: 14px;
	line-height: 14px;
	letter-spacing: normal;
	color: #fff;
	text-decoration: none;
	outline: none;
	cursor: pointer;
}

.tags_block .tag_item .tag_name:hover {
	background: #1290cb;
}

.tags_block .tag_item .questions_count {
	float: right;
	padding: 0 0 0 21px;
	background: url("/template/images/questions_icon.png") left center no-repeat;
	-webkit-background-size: 16px auto;
	-moz-background-size: 16px auto;
	-o-background-size: 16px auto;
	background-size: 16px auto;
	font-weight: 500;
	font-size: 14px;
	line-height: 30px;
	color: #999ca1;
}

.tags_block .tag_item .tag_description {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	overflow: hidden;
	max-height: 66px;
	font-size: 14px;
	line-height: 22px;
}

/* code */

pre.prettyprint {
	margin: 25px 0;
	padding: 10px 15px;
	border: 1px solid #e9eaec;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	background: #f7f7f8;
	overflow-x: auto;
}

*:not(.s-code-block)>code {
	white-space: nowrap;
	padding: 2px 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background: #e9eaec;
	font-size: 14px;
	white-space: pre-wrap;
	word-break: break-all;
}

/* question page */

.content_text h1 {
	margin: 25px 0;
	font-weight: 700;
	font-size: 30px;
	line-height: 38px;
}

.content_text h2 {
	margin: 25px 0;
	font-weight: 700;
	font-size: 24px;
	line-height: 32px;
}

.content_text hr {
	display: block;
	margin: 25px 0;
	width: 100%;
	height: 2px;
	border: none;
	background: #e9eaec;
}

.answers_list .answer_item.right hr {
	background: #b8d0dc;
}

.content_text p {
	margin: 15px 0;
}

.content_text b, 
.content_text strong {
	font-weight: 700;
}

.content_text i, 
.content_text em {
	font-style: italic;
}

.content_text a {
	color: #0a87c2;
	text-decoration: underline;
	outline: none;
	word-break: break-all;
}

.content_text a:hover {
	color: #075f88;
}

.content_text ol {
	margin: 15px 0 15px 30px;
	list-style-type: decimal;
}

.content_text ul {
	margin: 15px 0 15px 30px;
	list-style-type: square;
}

.content_text li {
	margin: 0 0 10px;
}

.content_text li:last-child {
	margin: 0;
}

.content_text img {
	display: block;
	margin: 25px 0;
	width: auto;
	max-width: 100%;
	height: auto;
}

.content_text blockquote {
	margin: 25px 0;
	padding: 0 15px;
	border: 1px  solid #e9eaec;
	border-left-width: 5px;
}

/* source */

.sourse_block {
	margin: 0 0 30px;
	font-size: 0;
	line-height: 0;
	letter-spacing: -1px;
}

.sourse_block .sourse_item {
	display: inline-block;
	vertical-align: top;
	padding: 1px 0 0 21px;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: normal;
	color: #999ca1;
	text-decoration: none;
	outline: none;
	cursor: pointer;
	position: relative;
}

.sourse_block .sourse_item:hover {
	color: #454754;
}

.sourse_block .sourse_item:before {
	display: block;
	content: "";
	width: 16px;
	height: 16px;
	background: url("/template/images/source_icons.png") no-repeat;
	-webkit-background-size: 32px auto;
	-moz-background-size: 32px auto;
	-o-background-size: 32px auto;
	background-size: 32px auto;
	position: absolute;
	top: 0;
	left: 0;
}

.sourse_block .sourse_button {
	margin: 0 20px 0 0;
}

.sourse_block .sourse_button:before {
	background-position: left top;
}

.sourse_block .share_button:before {
	background-position: right top;
}

.sourse_block .sourse_button:hover:before {
	background-position: left bottom;
}

.sourse_block .share_button:hover:before {
	background-position: right bottom;
}

.sourse_block .share_button .copy_text {
	display: none;
	padding: 10px 0;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	background: #454754;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	position: absolute;
	bottom: -50px;
	left: 50%;
}

.sourse_block .share_button .copy_text.copy {
	width: 160px;
	margin-left: -80px;
}

.sourse_block .share_button:hover .copy_text.copy {
	display: block;
}

.sourse_block .share_button.active .copy_text.copy {
	display: none;
}

.sourse_block .share_button .copy_text.copied {
	width: 110px;
	margin-left: -55px;
}

.sourse_block .share_button.active:hover .copy_text.copied {
	display: block;
}

.sourse_block .share_button .copy_text:before {
	display: block;
	content: "";
	border-left: 8px solid rgba(255,255,255,0);
	border-right: 8px solid rgba(255,255,255,0);
	border-bottom: 8px solid #454754;
	position: absolute;
	top: -7px;
	left: 50%;
	margin-left: -8px;
}

.share_link {
	display: block;
	position: absolute;
	top: -99999px;
	left: -99999px;
}

/* comments */

.comments_block {
	margin: 30px 0 0 30px;
}

.comments_block .comment_item {
	margin: 0 0 25px;
}

.comments_block .comment_item:last-child {
	margin: 0;
}

.comments_block .question_stat_block {
	margin: 0 0 10px;
}

.comments_block .comment_text {
	font-size: 14px;
	line-height: 22px;
}

.comments_block .comment_text b, 
.comments_block .comment_text strong {
	font-weight: 700;
}

.comments_block .comment_text i, 
.comments_block .comment_text em {
	font-style: italic;
}

.comments_block .comment_text a {
	color: #0a87c2;
	text-decoration: underline;
	outline: none;
	word-break: break-all;
}

.comments_block .comment_text a:hover {
	color: #075f88;
}

/* answers */

.answers_block .answers_title {
	margin: 30px 0 0;
	font-weight: 700;
	font-size: 30px;
	line-height: 38px;
}

.answers_list {
	margin: 30px 0 0;
}

.answers_list .answer_item {
	margin: 0 0 30px;
	padding: 30px;
	border: 2px solid #e9eaec;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	position: relative;
}

.answers_list .answer_item:last-child {
	margin: 0;
}

.answers_list .answer_item .point {
	display: block;
	width: 1px;
	height: 1px;
	position: absolute;
	top: -100px;
	left: 0;
}

.answers_list .answer_item.right {
	border-color: #0a87c2;
	background: #e7f3f9;
}

.answers_list .answer_item.right .stat_item {
	color: #79a2b5;
}

.answers_list .answer_item.right pre.prettyprint {
	border: 1px solid #bcdbea;
	background: #d5e7f0;
}

.answers_list .answer_item.right blockquote {
	border-color: #bcdbea;
}

.answers_list .answer_item.right *:not(.s-code-block)>code {
	background: #bcdbea;
}

.answers_list .answer_item.right .vote_button {
	border: 2px solid #bcdbea;
}

.answers_list .answer_item.right .vote_button.active {
	background-color: #d5e7f0;
}

.answers_list .answer_item.right .votes_buttons .minus:after {
	background: url("/template/images/vote_right_icons.png") left bottom no-repeat;
	-webkit-background-size: 24px auto;
	-moz-background-size: 24px auto;
	-o-background-size: 24px auto;
	background-size: 24px auto;
}

.answers_list .answer_item.right .votes_buttons .minus:hover:after,
.answers_list .answer_item.right .votes_buttons .minus.active:after {
	background-position: right bottom;
}

.answers_list .answer_item.right .votes_buttons .plus:after {
	background: url("/template/images/vote_right_icons.png") left top no-repeat;
	-webkit-background-size: 24px auto;
	-moz-background-size: 24px auto;
	-o-background-size: 24px auto;
	background-size: 24px auto;
}

.answers_list .answer_item.right .votes_buttons .plus:hover:after, 
.answers_list .answer_item.right .votes_buttons .plus.active:after {
	background-position: right top;
}

.answers_block .sourse_block {
	margin: 30px 0 0;
}

.answers_list .answer_item.right .sourse_block .sourse_item {
	color: #79a2b5;
}

.answers_list .answer_item.right .sourse_block .sourse_item:hover {
	color: #597e8f;
}

.answers_list .answer_item.right .sourse_block .sourse_item:before {
	background: url("/template/images/source_right_icons.png") no-repeat;
	-webkit-background-size: 16px auto;
	-moz-background-size: 16px auto;
	-o-background-size: 16px auto;
	background-size: 16px auto;
}

.answers_list .answer_item.right .sourse_block .share_button:before {
	background-position: right top;
}

.answers_list .answer_item.right .sourse_block .share_button:hover:before {
	background-position: right bottom;
}

/* sidebar */

.sidebar {
	float: right;
	width: 300px;
}

.sidebar .info_block {
	padding: 20px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	background: #e7f3f9;
}

.sidebar .sidebar_tags_block {
	margin: 0 0 30px;
}

.sidebar .block_title {
	margin: 0 0 20px;
	font-weight: 700;
}

.sidebar .tags_list {
	font-size: 0;
	line-height: 0;
	letter-spacing: -1px;
}

.sidebar .tags_list li {
	display: inline-block;
	vertical-align: top;
	margin: 0 10px 10px 0;
}

.sidebar .tags_list a {
	display: block;
	padding: 8px 10px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	background: #0a87c2;
	font-weight: 500;
	font-size: 14px;
	line-height: 14px;
	letter-spacing: normal;
	color: #fff;
	text-decoration: none;
	outline: none;
	cursor: pointer;
}

.sidebar .tags_list a:hover {
	background: #1290cb;
}

.sidebar .questions_list li {
	padding: 0 0 10px;
	margin: 0 0 10px;
	border-bottom: 1px dotted #b8d0dc;
	font-size: 14px;
	line-height: 22px;
}

.sidebar .questions_list li:last-child {
	margin: 0;
	padding: 0;
	border: none;
}

.sidebar .questions_list a {
	display: block;
	color: #0e0e0f;
	text-decoration: none;
	outline: none;
}

.sidebar .questions_list a:hover {
	color: #0a87c2;
}

/* footer */

.footer {
	min-width: 320px;
	border-top: 1px solid #e9eaec;
	background: #f7f7f8;
}

.footer .footer_wrapper {
	margin: 0 auto;
	padding: 20px;
	max-width: 1200px;
	font-size: 14px;
	line-height: 22px;
}

.footer .license a {
	color: #0e0e0f;
	text-decoration: underline;
	outline: none;
}

.footer .license a:hover {
	text-decoration: none;
}

@media screen and (max-width: 1099px) {

	/* tags block */

	.tags_block .tag_item {
		width: -webkit-calc((100% - 30px) / 2);
		width: -moz-calc((100% - 30px) / 2);
		width: calc((100% - 30px) / 2);
	}

	.tags_block .tag_item:nth-child(3n) {
		margin: 0 30px 30px 0;
	}

	.tags_block .tag_item:nth-child(2n) {
		margin: 0 0 30px;
	}
	
}

@media screen and (max-width: 999px) {

	/* questions block */

	.questions_block {
		float: none;
		width: 100%;
	}

	/* sidebar */

	.sidebar {
		float: none;
		margin: 30px 0 0;
		width: 100%;
	}
	
}

@media screen and (max-width: 779px) {

	/* header */

	.header .search_query {
		width: 200px;
	}
	
}

@media screen and (max-width: 766px) {

	/* tags block */

	.tags_block .tag_item {
		margin: 0 0 20px;
		width: 100%;
	}

	.tags_block .tag_item:nth-child(3n) {
		margin: 0 0 20px;
	}

	.tags_block .tag_item:nth-child(2n) {
		margin: 0 0 20px;
	}

	.tags_block .tag_item:last-child {
		margin: 0 0 30px;
	}
	
}

@media screen and (max-width: 679px) {

	/* header */

	.header .logo_block {
		margin: 0;
	}

	.header .nav_wrapper {
		display: none;
	}

	.header .search_form {
		display: none;
	}

	.header .menu_button {
		display: block;
	}

	/* mobile menu */

	.mobile_menu.active {
		display: block;
	}

	/* content */

	.content_wrapper {
		padding: 97px 20px 30px;
	}
	
}

@media screen and (max-width: 699px) {

	/* questions block */

	.question_stat_block .author {
		margin: 0;
	}

	.question_stat_block .question_stat {
		display: block;
		margin: 15px 0 0;
	}

	.question_stat_block .stat_item {
		line-height: 16px;
	}

	.comments_block .question_stat_block {
		margin: 0 0 15px;
	}

	.comment_item .question_stat_block .name {
		line-height: 14px;
	}

	/* votes */

	.votes_buttons {
		float: none;
		margin: 15px 0 0;
	}

}

@media screen and (max-width: 399px) {

	/* header */

	.header .header_wrapper {
		padding: 15px;
	}

	/* mobile menu */

	.mobile_menu {
		top: 67px;
		right: 15px;
	}

	/* content */

	.content_wrapper {
		padding: 77px 15px 25px;
	}

	.content_wrapper .main_title {
		margin: 0 0 20px;
		font-size: 26px;
		line-height: 34px;
	}

	.content_wrapper .query_text {
		margin: -10px 0 25px;
		font-size: 16px;
		line-height: 24px;
	}

	.content_wrapper .tagged_description {
		margin: -10px 0 25px;
		font-size: 16px;
		line-height: 24px;
	}

	/* questions block */

	.questions_block .question_item {
		padding: 15px 15px 5px;
	}

	.questions_block .question_item:last-child {
		margin: 0 0 25px;
	}

	.questions_block .question_title {
		font-size: 20px;
		line-height: 28px;
	}

	.question_block .question_stat_block {
		margin: 0 0 25px;
	}

	.question_tags_list {
		margin: 25px 0 15px;
	}

	/* tags block */

	.tags_block .tag_item {
		padding: 15px;
	}

	.tags_block .tag_item:last-child {
		margin: 0 0 25px;
	}

	.tags_block .tag_item .tag_name {
		margin: 0 0 15px;
	}

	.tags_block .tag_item .questions_count {
		float: none;
		clear: both;
		line-height: 16px;
	}

	/* sidebar */

	.sidebar {
		margin: 25px 0 0;
	}

	.sidebar .sidebar_tags_block {
		margin: 0 0 25px;
	}

	/* answers */

	.answers_block .answers_title {
		margin: 25px 0 0;
		font-size: 26px;
		line-height: 34px;
	}

	.answers_list {
		margin: 25px 0 0;
	}

	.answers_list .answer_item {
		margin: 0 0 25px;
		padding: 15px;
	}

	.answers_block .sourse_block {
		margin: 25px 0 0;
	}

	.answers_list .answer_item .point {
		top: -80px;
	}

	/* question page */

	.content_text h1 {
		margin: 15px 0;
		font-size: 24px;
		line-height: 32px;
	}

	.content_text h2 {
		margin: 15px 0;
		font-size: 20px;
		line-height: 28px;
	}

	.content_text hr {
		margin: 20px 0;
	}

	.content_text img {
		margin: 20px 0;
	}

	.content_text blockquote {
		margin: 20px 0;
	}

	/* source */

	.sourse_block {
		margin: 0 0 25px;
	}

	/* comments */

	.comments_block {
		margin: 25px 0 0 20px;
	}

	/* code */

	pre.prettyprint {
		margin: 20px 0;
	}

}

